apiVersion: v1
kind: Service
metadata:
  name: account-service
  labels:
    app: account-service
spec:
  type: ClusterIP
  selector:
    app: account-service
  ports:
  - port: 80
    targetPort: 8081
    protocol: TCP
    name: http
